 <!--Footer Start-->
      <footer class="footer bg-dark text-muted pt-0 pt-lg-5 position-relative left-0 bottom-0 w-100">
         <div class="container">
            <div class="row">
               <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                  <div class="footer-col mt-5 pe-4">
                     <div class="mb-0">This portfolio was made with <div id="heart_svg"></div> by Théo. Powered by NodeJS, PostgreSQL, the GitHub API and many more.</div>
                     <p>Find out more about this project <a href="/#_projects">here</a>.</p>
                  </div>
               </div>
               <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                  <div class="footer-col mt-5">
                     <h3 class="footer-title text-white mb-4">Links</h3>
                     <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="/">Home</a></li>
                        <li class="mb-2"><a href="#_about">About me</a></li>
                        <li class="mb-2"><a href="/mystack/">My Stack</a></li>
                        <li class="mb-0"><a href="/#_projects">Projects</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="footer-col footer-contact mt-5">
                     <h3 class="footer-title text-white mb-4">Contact me</h3>
                     <div class="mb-3"><img class="me-2" src="/images/map-pin.svg" alt="Icon"><span><a href="https://goo.gl/maps/K7yLfD24pt9xDV6F6/" target="_blank" rel="noreferrer">Lyon, France</a></span></div>
                     <div class="mb-3"><img class="me-2" src="/images/phone.svg" alt="Icon"><span><a href="tel:0749870352">+33 07 49 87 03 52</a></span></div>
                     <div><img class="me-2" src="/images/mail.svg" alt="Icon"><span> <a href="mailto:theo.provost@epitech.eu">theo.provost@epitech.eu</a></span></div>
                  </div>
               </div>
            </div>
            <div class="row footer-credits text-center mt-5 py-3">
               <div class="col-12 col-md-6">
                  <div class="footer-copy float-md-none float-lg-start">
                     <p class="mb-0 small">&copy 2021 <a href="#" class="text-decoration-none">Théo Provost</a>. All Rights Reserved</p>
                  </div>
               </div>
            </div>
         </div>
      </footer>

      <!--Footer End-->
      <script src="/js/splide.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>