<header>
    <nav class="nav">
        <ul class="nav-content">
            <li class="nav-content-text"><a href="/presentation">Qui suis-je ?</a></li>
            <li>/</li>
            <li class="nav-content-text"><a href="/contact">Contact</a></li>
            <li>/</li>
            <li class="nav-content-text"><a href="/blog">Blog</a></li>
        </ul>
    </nav> <!-- /nav -->
</header> <!-- /header -->