* {
    font-family: 'JetBrains-400';
    letter-spacing: 1.2;
    user-select: none;
    box-sizing: border-box;
}

.principal-wrapper {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    box-sizing: border-box;
}

.main-wrapper {
    margin: auto;
}

header {
    top: 0;
    min-height: 10vh;
    max-height: 80px;
    padding: 50px 110px;
    width: 100%;
    text-align: end;
    position: fixed;
    z-index: 10;
}

header li {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0.20em;
}

.nav-content {
    display: flex;
    position: absolute;
    right: 8%;
    top: 50%;
}

.page-content {
    position: relative;
    top: -100px;
}

h1 {
    font-size: 29px;
    text-align: center;
    letter-spacing: 2.8;
}

h2 {
    font-size: 420px;
    text-align: center; 
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.personal-infos { 
    height: 150px;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}

adress ul {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 110px;
}

li span {
    display: block;
}

a:hover {
    text-decoration: underline;
}

.form-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

form {
    height: 40vh;
    width: 30vw;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; 
}

input::placeholder, textarea::placeholder {
    color: #ccc;
}

.form-el {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.form-el>label {
    width: 50%;
}
.form-el>input {
    width: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

.form-el>input:focus {
    border-bottom: 2px solid black;
}

.form-el>textarea {
    resize: none;
    width: 50%;
    height: 100%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

.form-el>textarea:focus {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50vw;
    height: 50vh;
    background-color: #fff;
    z-index: 20;
    border: 1px solid black;
}

#btn-sub {
    position: relative;
    left: 350px;
    display: block;
    border: 1px solid black;
    background-color: white;
    transition: 0.3s ease-in-out;
}

#btn-sub:hover {
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input-error {
    color: red;
}

.input-error::placeholder {
    color: red;
}


#pdf-wrapper {
    width: 100vw;
    height: 85vh;
    position: absolute;
    top: 15vh;
}

#page-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}