<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div style="width:'100vw';height: 100vh; display: flex; justify-content: center; align-items: center;">
        <form action="/admin" method="post" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <input type="text" name="name" id="name" placeholder="Name">

            <input type="text" name="type" id="type" placeholder="Type">

            <input type="text" name="version" id="version" placeholder="Version">

            <input type="text" name="technologies" id="technologies" placeholder="Technologies (JSON)">

            <input type="text" name="features" id="features" placeholder="Features (ul/li)">

            <input type="text" name="readme_url" id="readme_ulr" placeholder="ReadmeURL">

            <input type="text" name="public_url" id="public_url" placeholder="PublicURL">

            <input type="text" name="github_url" id="github_url" placeholder="GitHubURL">

             <input type="text" name="github1S_url" id="github1S_url" placeholder="GitHubURL1S">

            <input type="submit" value="Submit" style="border-top: 2rem;">
        </form>
    </div>
</body>
</html>