<%- include('partials/head', {title: 'Contact', css: '/css/index'}) %> 

<%- include('partials/header') %>
<div class="form-wrapper">
    <form action="https://theoprovost.herokuapp.com/contact" method="POST" class="form-example" autocomplete="on" id="contact-form">
        <div class="form-el">
          <label for="first_name">Prénom</label>
          <input type="text" name="first_name" id="first_name" required placeholder="Prénom">
        </div>
        <div class="form-el">
            <label for="last_name">Nom</label>
            <input type="text" name="last_name" id="last_name" required placeholder="Nom">
          </div>
        <div class="form-el">
          <label for="email">eMail</label>
          <input type="email" name="email" id="email" required placeholder="votre.mailt@ici.com">
        </div>
        <div class="form-el">
            <label for="telephone">Téléphone</label>
            <input type="tel" name="telephone" id="telephone" placeholder="+33(0)6XXXXXXXX" required>
        </div>
        <div class="form-el">
            <label for="content">Message</label>
            <textarea name="content" id="content" cols="30" rows="10" required placeholder="Ecrivez ici"></textarea>
        </div>
        <div>
          <input type="submit" value="Envoyer" id="btn-sub">
        </div>
      </form>
</div>

<script src="/js/contact.js"></script>

<%- include('partials/footer') %> 