<%- include('partials/head', {title: `Théo Provost`}); %>

    <%- include('partials/header') %>

    <div style="height:100vh; margin: 0px; padding: 0px;" class="mb-5">
        <div style="height:100px;"></div>
        <iframe src="/document/cv_theoprovost.pdf" height="100%" width="100%" style="border: none;" scrolling="auto" title="Théo Provost resume" allowfullscreen class="mb-5">There was an error loading the CV. Please retry later...</iframe>
    </div>
    <div class="mb-5">
        // find a way to display bar when needed.
    </div>

    <%- include('partials/footer') %>