<%- include('partials/head', {title: `Page d'accueil`, css: `/css/index`}); %>

<div class="principal-wrapper">

    <%- include('partials/header') %>

<main class="main-wrapper">
    <div class="page-content">
        <h2>Hello</h2>
        <h1>Moi c'est Théo 👋, <span id="parent">je conçois et développe des applications web.<span id="border"></span></span></h1>
    </div>     
    <adress class="personal-infos">
        <ul>
            <li class="personal-infos-text">- Téléphone<span><a href="tel:+330673809276">+33(0)673809276</a></li>
            <li class="personal-infos-text">- Email<span><a href="mailto:theo.provost@gmail.com">theo.provost@gmail.com</a></span></li>
            <li class="personal-infos-text">- Adresse<span><a href="https://goo.gl/maps/ji8iXLUxLvnwN1Rn7" target="_blank">Lyon 6ème, France</a></li>
        </ul>
    </adress>
</main> <!-- /main -->
</div> <!-- /principal-wrapper -->

<%- include('partials/footer', {script: '/js/nav'}) %> 