<%- include('partials/head', {title: 'Qui suis-je ?', css: '/css/index'}) %>

<%- include('partials/header') %>

<div id="pdf-wrapper">
<!-- <iframe src="/document/theoprovost.pdf" width="100%" height="100%" title="Document de présentation - Théo Provost" allow="fullscreen" id="pdf">
</iframe> -->
</div>

<%- include('partials/footer') %>