<%- include('partials/head', {title: 'Qui suis-je ?', css: '/css/index'}) %>

<!-- !temp : include header -->

<div id="pdf-wrapper">
<iframe src="/document/cv_theoprovost_FR0421VC.pdf" width="100%" height="100%" title="CV - Théo Provost" allow="fullscreen" width="100%" height="100%" id="pdf">

    <p>Le CV n'a pas pu être chargé...</p>

</iframe>
</div>

<%- include('partials/footer') %>